<div class="d-flex justify-content-<%= can? :manage, @folder ? 'between' : 'center' %> tweet" data-tweetURL="<%= bookmark.tweet.link %>">
  <%= raw bookmark.tweet.html_content %>

  <% if can? :manage, @folder %>
    <div class="d-flex flex-column">
      <div class="mt-2">
        <small class="text-muted d-flex align-items-center">
          <i class="far fa-clock ml-2"></i>
          <span class="ml-2" 
            data-tippy-content="<small><%= datetime_formatted(bookmark.created_at) %></small>"
          >
            <%= bookmark.created_at.strftime("%d/%m/%Y") %>
          </span>
        </small>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="dropdown">
          <button class="btn btn-transparent btn-lg btn-action text-muted p-1 mx-2" 
            type="button" 
            id="folder-actions" 
            data-tippy-content="More"
            data-tippy-placement="right"
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
          >
            <i class="fas fa-ellipsis-h 2x mt-2"></i>
          </button>

          <div class="dropdown-menu border-0" aria-labelledby="tweet-actions">
            <%= button_tag(
              type: 'button', 
              class: 'dropdown-item copyLink text-muted',
              data: { 
                'tippy-content': t('content.tippy.tweets.copy_tweet_url'), 
                'tippy-placement': 'left',
                copy: 'tweet'
              }) do %> 
              <i class="fas fa-link"></i> &nbsp; <%= t('content.links.tweet.copy_tweet') %>
            <% end %>

            <%= button_tag(
              type: 'button',
              class: "dropdown-item copyTweetMedia text-muted #{'disabled' unless bookmark.tweet.media}",
              data: {
                'tippy-content': t('content.tippy.tweets.copy_tweet_media'),
                'tippy-placement': 'left',
                'copy-tweet-media': bookmark.tweet.media
              }) do %>
              <i class="fas fa-images"></i> &nbsp; <%= t('content.links.tweet.copy_media') %>
            <% end %>
          </div>
        </div>

        <%= link_to folder_bookmark_path(@folder, bookmark), 
          method: :delete, 
          remote: true,
          class: 'text-danger',
          data: { 
            confirm: t('are_you_sure'),
            title: t('content.modal_titles.bookmarks.delete'),
            'tippy-content': t('content.tippy.bookmarks.delete'),
            'tippy-placement': 'right'
          } do %>
          <i class="fas fa-trash-alt mt-2 mx-2"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>