<div class="d-flex justify-content-<%= can? :manage, @folder ? 'between' : 'center' %> tweet" data-tweetURL="<%= bookmark.tweet.link %>">
  <%= raw bookmark.tweet.html_content %>

  <% if can? :manage, @folder %>
    <div class="d-flex flex-column">
      <div class="mt-2">
        <small class="text-muted d-flex align-items-center">
          <i class="far fa-clock ml-2"></i>
          <span class="ml-2" 
            data-tippy-content="<small><%= datetime_formatted(bookmark.created_at) %></small>"
          >
            <%= bookmark.created_at.strftime("%d/%m/%Y") %>
          </span>
        </small>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <%= button_tag(
          type: 'button', 
          class: 'btn btn-transparent d-flex copyLink',
          data: { 
            'tippy-content': t('content.tippy.tweets.copy_tweet_url'), 
            'tippy-placement': 'bottom',
            copy: 'tweet'
          }) do %> 
          <i class="fas fa-link mt-2 ml-2 text-muted"></i>
        <% end %>
        <%= link_to folder_bookmark_path(@folder, bookmark), 
          method: :delete, 
          remote: true,
          class: 'text-danger',
          data: { 
            confirm: t('are_you_sure'),
            title: t('content.modal_titles.bookmarks.delete'),
            'tippy-content': t('content.tippy.bookmarks.delete'),
            'tippy-placement': 'right'
          } do %>
          <i class="fas fa-trash-alt mt-2 mx-2"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>