<div class="col-md-8 col-lg-6">
  <h3 class="text-center mb-3"><%= t('content.actions.users.registrations.edit') %></h3>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <h5>Your account</h5>
  <hr />

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.input :name, 
      maxlength: 50, 
      input_html: { class: 'has-max-length' } %>
    <%= f.input :email, 
      autocomplete: 'email',
      required: true %>

    <br />
    <h5>Change your password</h5>
    <hr />

    <p class="text-warning small mb-2">
      <i class="fas fa-exclamation-circle"></i>
      Leave these fields blank if you don't wanna change your password.
    </p>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :password, 
          wrapper: :input_group,
          autocomplete: 'new-password', 
          hint: "#{@minimum_password_length} characters minimum.",
          input_html: { data: { toggle: 'password' } },
          wrapper_html: { class: 'mb-0' }
        %>
      </div>

      <div class="col-md-6">
        <%= f.input :password_confirmation, 
          wrapper: :input_group,
          autocomplete: 'new-password',
          input_html: { data: { toggle: 'password' } }
        %>  
      </div>   
    </div> 
    
    <br />

    <p class="text-brand mt-2 font-weight-bold">Enter your current password in order to confirm the changes.</p>
    <hr>
    <%= f.input :current_password, wrapper: :input_group,
      autocomplete: 'current-password',
      required: true,
      input_html: { data: { toggle: 'password' } } %>

    <div class="actions">
      <%= f.button :submit, 'Update', class: 'btn btn-brand mb-3 w-100' %>
    </div>
  <% end %>  
   
  <%= render 'devise/registrations/deactivate' %>  
</div>

