<div class="col-sm-6 col-md-4 mb-4 folder" data-folder-id="<%= folder.id %>" 
    data-pinned="<%= folder.pinned? %>">
  <div class="card shadow-lg border-0 <%= 'border-top-brand' if folder.pinned? %>">
    <div class="card-body">
      <h5 class="folder-title card-title d-flex align-items-center justify-content-between mb-1 text-break">
        <%= link_to folder.name, folder, class: 'link-brand font-weight-bold' %>
        <%= link_to toggle_pin_folders_path(folder), 
          method: :put,  
          remote: true,
          class: folder.pinned? ? 'link-brand' : 'pin-folder-icon',
          data: { 
            'tippy-content': t('content.tippy.folders.toggle_pin', state: state_name(folder))
          } do %>
          <i class="fas fa-thumbtack fa-xs"></i>
        <% end %>
      </h5>
      <p class="card-subtitle font-weight-bold text-black-50 small mt-2 mb-3"
        data-tippy-content="<small><%= datetime_formatted(folder.updated_at) %></small>" 
        data-tippy-placement="bottom"
      >
        <i class="far fa-clock"></i>  
        <span class="text-muted font-weight-normal">last updated</span>
        <%= time_ago_in_words(folder.updated_at) %> ago
      </p>
        <p class="card-text folder-desc small mb-0">
          <% unless folder.description.blank? %>
            <%= truncated_description(folder.description) %> 
          <% end %>
        </p>
        
      <div class="d-flex align-items-end justify-content-between">
        <span class="text-brand small number-of-bookmarks"><%= pluralize_bookmarks_count(folder) %></span>
        <div class="dropdown">
          <a class="folder-dropdown-options" 
            type="button" 
            id="folder-actions"
            data-tippy-content="More"
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
          >
            <i class="fas fa-ellipsis-h 2x"></i>
          </a>

          <div class="dropdown-menu border-0" aria-labelledby="folder-actions">
            <%= link_to edit_folder_path(folder), class: 'dropdown-item text-muted' do %> 
              <i class="fas fa-pencil-alt"></i> &nbsp; <%= t('content.actions.folders.edit') %>
            <% end %>
            <%= link_to folder_path(folder), 
              method: :delete, 
              class: 'dropdown-item text-muted',
              remote: true,
              data: { 
                confirm: t('delete_folder_confirmation', 
                  bookmarks_count: pluralize_bookmarks_count(folder)
                ), 
                title: t('content.tippy.folders.delete', folder: folder.name),
                'tippy-content': t('content.tippy.folders.delete', folder: folder.name),
                'tippy-placement': 'bottom'
              } do %>
              <i class="fas fa-trash-alt"></i> &nbsp; <%= t('content.actions.folders.delete') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>