<div class="col-md-12 col-lg-6 justify-content-center">
  <%= simple_form_for(@folder) do |f| %>
    <%= f.input :name, 
      placeholder: 'Folder name', 
      maxlength: '25', 
      input_html: { class: 'has-max-length'},
      error: f.object.errors[:name].first.try(:html_safe)
    %>
    <%= f.input :description, 
      maxlength: '200', 
      input_html: { class: 'has-max-length' } 
    %>

    <%= f.input :privacy, 
      include_blank: false,
      collection: Folder.privacies.symbolize_keys.keys,
      wrapper_html: { class: 'mb-1' } %>
    <small id="privacy-description" class="text-muted"></small>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-brand w-100 mt-4' %>
    </div>
  <% end %>
</div>

