<%= content_for(:title, t('.', folder: @folder.name)) %>

<div class="col-md-12 col-lg-6 d-flex justify-content-between align-items-center text-center mb-3 mt-2">
  <%= link_to :back, 
    class: 'text-muted',
    data: {
      'tippy-content': t('content.tippy.folders.previous_page'),
      'tippy-placement': 'right'
    } do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>

  <h3><%= t('content.actions.folders.edit') %></h3>
  <%= link_to folder_path(@folder), 
    target: '_blank', 
    data: {
      'tippy-content': t('content.tippy.folders.open_in_new_tab'),
      'tippy-placement': 'bottom'
    } do %>
    <i class="link-brand fas fa-external-link-alt"></i>
  <% end %>
</div>

<p class="small text-muted text-center col-12">
  This folder was created on <b><%= datetime_formatted(@folder.created_at) %></b>
</p>

<%= render 'form', folder: @folder %>

<div class="w-100"></div>

<div class="col-md-12 col-lg-6 mt-2">
  <hr>
<h4 class="mb-3 mt-4 text-center">Danger zone</h4>
  <ul class="list-group bg-transparent border border-danger">
    <li class="list-group-item transparent d-flex justify-content-between align-items-center">
      <div class="flex-auto">
        <p class="font-weight-bold mb-1">Delete this folder</p>
        <small>Once you delete a folder, there is no going back.</small>
      </div>
      <%= link_to t('content.actions.folders.delete'), 
        folder_path(@folder), 
        method: :delete, 
        class: 'btn btn-sm btn-outline-danger',
        data: { 
          title: t('content.modal_titles.folders.delete'),
          'tippy-content': t('content.tippy.folders.delete', folder: @folder.name),
          'tippy-placement': 'right',
          confirm: t('delete_folder_confirmation_html',
            bookmarks_count: pluralize_bookmarks_count(@folder)
          ),
          verify: keyword_confirmation(@folder), 
          verify_text: t('verify_message_html', keyword: keyword_confirmation(@folder))
        }
      %>
    </li>

    <li class="list-group-item transparent d-flex justify-content-between align-items-center">
      <div class="flex-auto">
        <p class="font-weight-bold mb-1">Delete all bookmarks</p>
        <small>Delete all bookmarks in this folder.</small>
      </div>
      <%= link_to t('content.actions.folders.delete_bookmarks'), 
        destroy_bookmarks_folder_path(@folder), 
        method: :delete, 
        class: "btn btn-sm btn-outline-danger #{'disabled' if @folder.bookmarks_count == 0}",
        data: { 
          title: t('content.modal_titles.folders.delete_bookmarks'),
          'tippy-content': t('content.tippy.folders.delete_bookmarks'),
          'tippy-placement': 'right',
          confirm: t('delete_bookmarks_confirmation_html',
            bookmarks_count: pluralize_bookmarks_count(@folder)),
          verify: keyword_confirmation(@folder), 
          verify_text: t('verify_message_html', keyword: keyword_confirmation(@folder)),
          destructive: true
        }
      %>
    </li>
  </ul>
</div>
