<div class="col-md-9 col-lg-7 text-center">
  <h2 class="text-brand">
    <%= @folder.name %> 
  </h2>
</div>
  
<div class="w-100"></div>

<div class="col-md-9 col-lg-7 text-center">
  <% if @folder.description.present? %>
    <small class="text-lightgray"><%= @folder.description %></small>
  <% end %>
  <div class="mt-2 d-flex justify-content-center align-items-center">
    <p class="mb-0">by 
      <span class="font-weight-bold">
        <%= current_user.provider.blank? ? current_user.name : current_user.username %>
      </span>
    </p> 
    <div class="dropdown">
      <button class="btn btn-transparent btn-lg text-white-50" 
        type="button" 
        id="folder-actions" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false"
      >
        <i class="fas fa-ellipsis-h 2x"></i>
      </button>

      <div class="dropdown-menu no-shadow" aria-labelledby="folder-actions">
        <%= link_to edit_folder_path(@folder), class: 'dropdown-item text-light' do %> 
          <i class="fas fa-pencil-alt"></i> &nbsp; Edit folder info
        <% end %>
        <%= link_to folder_path(@folder), 
          method: :delete, 
          class: 'dropdown-item text-light',
          title: "Delete folder: #{@folder.name}",
          data: { 
            confirm: t('delete_folder_confirmation', 
            tweet_count: pluralize(@folder.tweets_count, 'tweet'))
          } do %>
          <i class="fas fa-trash-alt"></i> &nbsp; Delete folder
        <% end %>
      </div>
    </div> 
  </div>
</div>

<div class="w-100"></div>

<div class="col-md-12 col-lg-7 mt-3">
  <%= simple_form_for @folder, remote: true do |f| %>
    <%= f.simple_fields_for :bookmarks, @folder.bookmarks.build do |t| %>
      <%= t.simple_fields_for :tweet, Tweet.new do |tt| %>
        <% tt.input :link, 
          label: false,
          wrapper: :input_group do %>
          <%= tt.input :link, 
            label: false, 
            wrapper: false, 
            input_html: { 
              id: 'tweetUrl',
              placeholder: 'Enter Tweet URL here'
            } %>
        <div class="input-group-append">   
          <%= f.button :submit, 'Add', class: 'btn btn-brand' %>
        </div>
      <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="w-100"></div>
  
<div class="col-md-12 col-lg-7 <%= @bookmarks.next_page ? 'my-2' : 'mt-3 mb-0' %>" 
  id="pagination"
>
  <%= paginate @bookmarks, 
    theme: 'twitter-bootstrap-4',
    pagination_class: 'pagination-sm justify-content-center'
  %>
</div>


<div class="col-md-12 text-center">
  <span class="badge badge-pill badge-brand">
    <h6 class="mb-0 p-1" id="tweetsCount">
      <%= page_entries_info @bookmarks %>  
    </h6>
  </span>
</div>

<div class="w-100"></div>

<div class="col-lg-7 col-md-12 text-center mt-1" id="tweets-container">
  <% if @bookmarks.blank? %>
    <h5 class="text-center text-brand font-weight-normal mt-3" id="no-tweets">
      This folder is empty. Add tweets to see them here!
    </h5>
  <% else %>
    <%= render @bookmarks %>
    <div class="w-100"></div>
  <% end %>
</div>

<%= link_to '#', class: "btn btn-primary back-to-top-button invisible" do %>
  <i class="fas fa-arrow-up"></i>
<% end %>