
<div class="col-md-12 text-center">
  <h2><%= @folder.name %> </h2>
  <p class="text-white-50">by <%= current_user.username%></p>
</div>

<%# <div class="col-md-6">
  <blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/Qp87FELqeU">pic.twitter.com/Qp87FELqeU</a></p>&mdash; itzy pics (@archiveitzy) <a href="https://twitter.com/archiveitzy/status/1317593617389834245?ref_src=twsrc%5Etfw">October 17, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div> %>
<div class="col-md-7">
  <%= form_with(model: Tweet, local: true) do |form| %>
    <div class="input-group mb-3">
      <%= form.hidden_field :folder_ids, value: @folder.id %>
      <%= form.text_field :link, class: 'form-control', placeholder: 'Tweet link', 'aria-describedby': 'button-addon2' %>
      <%# <input type="text" class="form-control" placeholder="Tweet link" aria-label="Recipient's username" aria-describedby="button-addon2"> %>
      <div class="input-group-append">
        <%= form.submit 'Add', class: 'btn btn-brand', id: 'button-addon2' %>
      </div>
    </div>
  <% end %>
</div>

<div class="w-100"></div>

<div class="col-md-7">
  <% @tweets.each do |tweet|%>
    <%= raw tweet.html_content %>
  <% end %>
</div>
<div class="col-md-2">
  <h4>Search filters</h4>
</div>
