<div class="col-md-7 text-center">
  <h2 class="text-brand">
    <%= @folder.name %> 
  </h2>
</div>
  
<div class="w-100"></div>

<div class="col-md-5 text-center">
  <% if @folder.description.present? %>
    <small class="text-white-50"><%= @folder.description %></small>
  <% end %>
  <p class="mt-2">by 
    <span class="font-weight-bold">
      <%= current_user.provider.blank? ? current_user.name : current_user.username %>
    </span>
  </p> 
</div>
<div class="w-100"></div>

<div class="col-md-7 mt-3">
  <%= simple_form_for @folder, remote: true do |f| %>
    <%= f.simple_fields_for :tweets, @folder.tweets.build do |t| %>
      <% t.input :link, 
        label: false,
        wrapper: :input_group do %>
        <%= t.input :link, 
          label: false, 
          wrapper: false, 
          input_html: { 
            id: 'tweetUrl',
            placeholder: 'Enter Tweet URL here'
          } %>
        <div class="input-group-append">   
          <%= f.button :submit, 'Add', class: 'btn btn-brand' %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="w-100"></div>

  <% if @tweets.blank? %>
    <h5 class="text-center text-brand font-weight-normal">
      This folder is empty. Add tweets to see them here!
    </h5>
  <% else %>
    <div class="col-md-12 text-center mt-3 mb-0">
      <span class="badge badge-pill badge-brand">
        <h6 class="mb-0 p-1" id="tweetsCount">
          <%= pluralize(@folder.tweets.count, 'tweet') %>  
        </h6>
      </span>
    </div>
    <div class="col-md-7 text-center mt-2" id="tweets-container">
      <%= render @tweets %>
    </div>
    <div class="w-100"></div>

    <div id="paginate-load-more-button">
      <%= will_paginate @tweets %>
    </div>

    <% if @tweets.next_page %>
      <div id='load-more-tweets' class='btn btn-primary'>Load more tweets</div>
    <% end %>
  <% end %>

  <%= link_to '#', class: "btn btn-primary back-to-top-button invisible" do %>
      <i class="fas fa-arrow-up"></i>
  <% end %>