<div class="col-md-5 rounded bg-custom p-5 justify-content-center">
  <h3 class="text-center">Log in</h3>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <%= f.input :email, autofocus: true, autocomplete: 'email' %>
   
    <%= f.input :password, 
      wrapper: :input_group,
      autocomplete: 'current-password',
      input_html: { data: { toggle: 'password' } } 
    %>

    <% if devise_mapping.rememberable? %>
      <div class="text-center">
        <%= f.input :remember_me, as: :boolean %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.button :submit, 'Log in', class: 'btn btn-brand w-100 mb-3' %>
    </div>

    <%= render 'devise/shared/links' %>
  <% end %>
</div>

