<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <style>
      * {
        font-family: 'Roboto', sans-serif;
      }

      a {
        text-decoration: none;
        color: #1DA1F2;
      }

      hr {
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      .email-container {
        padding: 0 50px;
      }

      .brand {
        color: #1DA1F2;
      }

      .logo {
        display: flex;
        justify-content: flex-end;
      }

      .font-italic {
        font-style: italic;
      }

      .small {
        font-size: 80%;
        font-weight: 400;
      }

      .text-center {
        text-align: center;
      }

      .text-muted {
        color: #6c757d;
      }
    </style>

    <div class="email-container">
      <div class="logo">
        <%= link_to 'http://bookmarkdd.herokuapp.com', target: '_blank' do %>
          <%= image_tag 'favicon-32x32.png' %>
        <% end %>
      </div>

      <h4>Hello, <%= @resource.email %>!</h4>

      <p>You're receiving this e-mail because you requested a password reset for your user account at Bookmarkd.
        You can do this in the following link:
        <b>
          <%= link_to 'Change my password', 
            edit_password_url(@resource, reset_password_token: @token),
            target: '_blank' %>.
        </b>    
      </p>

      <p>If you didn't request this, please ignore this email.
        Your password won't change until you access the link above and create a new one.
      </p>

      <p>This link will expire after six hours. 
        If you need a new one, you can request another on our 
        <%= link_to 'Log In', new_user_session_url %> page.
      </p>

      <p>We're here to help if you need it. 
        If you have any questions, just reply to this email and we'll help you out.
      </p>
    
      <p class="font-italic">– Bookmarkd</p>

      <hr />

      <footer class="small text-center">
        <%= link_to 'Privacy Policy', privacy_policy_url %> 
        | 
        <%= link_to 'Terms of Service', terms_of_service_url %>
        <p class="text-muted">© <%= Date.today.year %> Bookmarkd. All rights reserved.</p>
      </footer>
    </div>   
  </body>
</html>