<nav class="navbar sticky-top navbar-expand-lg bg-transparent navbar-light">
  <a class="navbar-brand" href="/">
    <h4 class="font-weight-bold text-logo">
      <i class="far fa-bookmark text-primary"></i> Bookmarkd
    </h4>
  </a>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav text-center">
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to folders_path, class: 'nav-link' do %>
          <i class="fas fa-folder-open"></i> Folders
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link user-dropdown dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.provider == 'twitter' %>
            <i class="fab fa-twitter text-primary"></i> 
            @<%= current_user.username %>
          <% else %>
            <i class="fas fa-user-circle"></i>
            <%= current_user.name %>
          <% end %>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="userDropdown">
          <%= link_to edit_user_registration_path, class: 'dropdown-item text-muted' do %>
            <% if current_user.provider == 'twitter' %>
              <i class="fas fa-user-alt mr-2"></i><%= t('content.actions.users.omniauth.show') %>
            <% else %>
              <i class="fas fa-user-edit mr-2"></i><%= t('content.actions.users.registrations.edit') %>
            <% end %>
          <% end %>
          
          <%= link_to destroy_user_session_path, class: 'dropdown-item text-muted', method: :delete do %>
            <i class="fas fa-sign-out-alt mr-2"></i><%= t('content.actions.users.sessions.destroy') %>
          <% end %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: 'nav-link' do %>
          <i class="fas fa-sign-in-alt"></i> <%= t('content.actions.users.sessions.new') %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-link' do %>
          <%= t('content.actions.users.registrations.new') %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>