<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:widgets:theme" content="<%= application_mode %>">
    <meta name="application-theme" content="<%= application_mode %>">
    <%= favicon_link_tag 'bookmark.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if cookies[:sun] %>
      <%= stylesheet_link_tag 'light/application_light', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag 'dark/application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= custom_flash_messages %>
  </head>

  <body class="h-100 <%= 'bg-lightgrey' if devise_controller? %>">
    <% if user_signed_in? %>
      <%= render 'layouts/folder_toggle_sidebar' %>
    <% end %>
    <div class="container d-flex flex-column h-100">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-9 mt-3">
          <%= render 'layouts/navbar' %>
        </div>
      </div>
      <div class="row justify-content-center <%= 'align-items-center flex-fill' if controller_name == 'pages' %> px-3" id="page-content">  
        <%= yield %>
      </div>
      <%= render 'layouts/fixed_actions' %>
      <footer class="text-center mt-auto footer">
        © <%= Date.today.year %> <span class="font-weight-bold">Bookmarkd</span>. All rights reserved.
      </footer>
    </div>
  </body>
</html>