<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Bookmarkd</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <%= render 'shared/toast' %>
    <div class="container <%= 'd-flex flex-column h-100' if controller_name == 'pages' %>">
      <div class="row justify-content-center">
        <div class="col-md-9 mt-3">
          <nav class="navbar navbar-expand-lg navbar-dark bg-transparent sticky-top">
            <a class="navbar-brand" href="/">
              <h3 class="font-weight-bold"><i class="far fa-bookmark text-brand"></i> Bookmarkd</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to edit_user_registration_path, class: 'nav-link' do %>
                    <i class="fab fa-twitter text-brand"></i> @<%= current_user.username %></a>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, class: 'nav-link', method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i> Sign out
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/sign_up">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/sign_in">
                    <i class="fas fa-sign-in-alt"></i> Login
                  </a>
                </li>
              <% end %>
              </ul>
            </div>
          </nav>
        
        </div>
      </div>
      <div class="row justify-content-center <%= 'align-items-center flex-fill h-100' if controller_name == 'pages' %> px-3">  
        <%= yield %>
      </div>
    </div>
  </body>
</html>
